.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}

.title {
  font-weight: 500;
  color: #676871;
  font-size: 20px;
}
